body {
  background-color: #f4f4f5 !important;
  color: #111112 !important;
}
a {
  color: initial;
  text-decoration: none !important;
}
.cursor-p {
  cursor: pointer;
}
.cancel-btn {
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
}

.cancel-btn:hover {
  background-color: #f4f5f8 !important;
}

.min-opacity {
  opacity: 75%;
}
.btn-add-task {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  position: fixed !important;
  right: 20px;
  bottom: 25px;
}
.AppCard {
  overflow: hidden !important;
}

.navbar .logo {
  font-weight: bold;
  opacity: 80%;
}

.nav .task-nav a {
  background-color: #ededed;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  color: initial;
}
.nav .task-nav a:hover:not(.active) {
  opacity: 100% !important;
  background-color: #f6f6f6 !important;
}
.nav .task-nav a:not(.active) {
  opacity: 70% !important;
}

.nav .task-nav a.active {
  color: blue;
  background-color: #fff;
}

.searchForm .form-group {
  background-color: #f4f5f8;
}
.searchForm .form-group .form-control::placeholder {
  color: #868c94;
  font-weight: 600 !important;
}
.searchForm .form-group .btn {
  color: #868c94 !important;
}

.task-avatar .img {
  width: 45px !important;
  height: 45px !important;
  background-color: blue;
  border: 1px solid #dcdee0;
  border-radius: 50% !important;
}
